.navbar{
  position: absolute;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  min-width: 980px;
}

.navbar-links-container{
  height: 30px;
  margin-top: 10px;
  line-height: 24px
  padding-left: 15px
  padding-right: 15px;
  float: right;
}

.navbar-links{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-links a{
  padding-left: 15px;
  vertical-align: middle;
}

.navbar-links a img{
  vertical-align: middle;
}

.logo-container{
  height: 233px;
  min-width: 980px;
  padding-top: 89px;
}

.logo{
  margin: auto;
  height: 92px;
  width: 272px;
  padding-top: 109px;
}

.search-form-container{
  padding: 8px 173px 0px 173px
}

.search-form{
  margin: auto;
  width: 487px;
  height: 121px
}

.search-bar-container{
  margin: auto;
  height: 63px;
}

.search-bar{
  margin: auto;
  width: 483px;
  height: 34px;
  border: 1px solid #ddd;
}




//

.search-bar .input{
  -webkit-appearance: none;
  line-height: 32px;
  padding: 9px;
}






