.navbar{
  position: absolute;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  min-width: 980px;
}

.navbar-links-container{
  height: 30px;
  margin-top: 10px;
  line-height: 24px
  padding-left: 15px
  padding-right: 15px;
  float: right;
}

.navbar-links{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-links a{
  padding-left: 15px;
  vertical-align: middle;
}

.navbar-links a img{
  vertical-align: middle;
}

.logo-container{
  height: 233px;
  min-width: 980px;
  padding-top: 89px;
}

.logo{
  margin: auto;
  height: 92px;
  width: 272px;
  padding-top: 109px;
}

.search-form-container{
  padding: 8px 173px 0px 173px
}

.search-form{
  margin: auto;
  width: 487px;
  height: 121px
}

.search-form input{
  -webkit-appearance: none;
}

.search-bar-container{
  margin: auto;
}

.search-bar{
  margin: auto;
  width: 487px;
  height: 40px;
  border: 1px solid #ddd;
  line-height: 32px;
  padding: 6px 9px 0px 9px;
}

.search-buttons-container{
  margin: auto;
  line-height: 58px;
  width: 487px;
  padding-top: 18px;
}

.button{
  margin: auto;
  display: inline-block;
  background-color: #f2f2f2;
  color: #666666;
  margin: 11px 4px;
  border: 1px solid #f2f2f2;
  padding: 0px 16px;
  height: 34px;
  min-width: 54px;
  font-size: 13px;
  line-height: 27px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}



